window {
  margin: 5px;
  border: 2px solid rgba(0,255,255,0.6);
  background-color: black;
}

#input {
  margin: 5px;
  border: 2px solid gray;
  background-color: black;
  color: white;
}

#inner-box {
  margin: 5px;
  border: 2px solid black;
  background-color: black;
}

#outer-box {
  margin: 5px;
  border: 2px solid black;
  background-color: black;
}

#scroll {
  margin: 5px;
  border: 2px solid black;
  background-color: black;
}

#text {
  margin: 5px;
  border: 2px solid black;
  background-color: black;
  color: white;
}

#entry:selected {
  background-color: rgba(0,255,255,0.6);
}

expander > list > #entry {
  background-color: black;
}

#text:selected {
  background-color: black;
}
